*{ margin: 0; padding: 0; }
html{
  height:100%;
  font-size: 100%;
  font-family: sans-serif;
  word-wrap: break-word; /* 文字の単語途中折り返しを有効に */
}
body {
  text-align: center;
  background: #fff;
  margin:0 auto; /* 余白を作り、中央寄せにする */
  height: 100%;
}
.logo {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}
img {
    width: 100%;
}
/*＝＝＝＝＝＝＝＝＝＝
ここからPC環境の設定
＝＝＝＝＝＝＝＝*/
.wrapper {
  width: 100%;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.btn_caption {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
}
.btn_caption p {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    border: 2px black solid;
    padding: 10px;
}
.photobox li img{
    width: 500px;
    height: auto;
}
.photobox ul {
    width: 500px;
    overflow: hidden;
    margin: 10px auto;
}
.photobox li {
    display: none;
}
.photobox li.active {
    display: block;
    width: 500px;
    margin: 0 auto;
}

